<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <!-- 指纹 -->
    <add key="thumbprint" value="这里设置私钥"/>
    <!--订阅ID-->
    <add key="subscriptionid" value="这里设置订阅ID"/>
    <!--云服务名称-->
    <add key="cloudservicename" value="这里设置Cloud Service Name"/>
    <!--部署名称，在云服务里查看-->
    <add key="deploymentsname" value="这里设置云服务名称"/>
    <!--注意：至少保留一台VM开机，以运行Windows Service-->
    <add key="vmnames" value="这里设置需要开关机的VM Name，以分号(;)分割"/>

    <!--检查当前CPU的间隔时间，单位为Seconds，不要设置太小，以免采样时间过短,默认为30秒 -->
    <add key="timerinterval" value="30"/>
    <!--触发开关机的事件，触发次数,默认为6次-->
    <add key="maxhitcount" value="6"/>
    <!--最大CPU利用率 80%-->
    <add key="maxcpu" value="80"/>
    <!--最小CPU利用率40%-->
    <add key="mincpu" value="40"/>

    <!--<add key="startvmxmlpath" value="C:\Yum!DMB\StartVM.xml"/>
    <add key="stopvmxmlpath" value="C:\Yum!DMB\StopVM.xml"/>
    <add key="stopvmdeallocatedxmlpath" value="C:\Yum!DMB\StopVM_Deallocated.xml"/>-->

    <add key="startvmxmlpath" value="D:\Work\Doc\FY16\Customer\Yum\20150216DMB\InstallService\StartVM.xml"/>
    <add key="stopvmxmlpath" value="D:\Work\Doc\FY16\Customer\Yum\20150216DMB\InstallService\StopVM.xml"/>
    <add key="stopvmdeallocatedxmlpath" value="D:\Work\Doc\FY16\Customer\Yum\20150216DMB\InstallService\StopVM_Deallocated.xml"/>
    
    <!--日志保存的路径，只允许磁盘\文件夹，即一级目录，注意最后面不要写反斜杠(\)-->
    <add key="logpath" value="c:\autoscaling"/>
    <!--对Azure虚拟机操作的间隔，单位秒,默认为25秒-->
    <add key="operationinterval" value="25"/>
  </appSettings>
</configuration>